/* background and general body config */
body {
    background-image: url(../assets/animated/gif/background_gif.gif);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: top;
    background-color: #13334F;
    margin: 0%;
    padding-top: 5rem;
}

/* navigation bar properties */
.navigation-bar {
    background-color: rgba(70,143,207, 1);
    background-blend-mode: multiply;
    min-width: 100%;
    position: fixed;
    top: 0%;
    min-height: 3rem;
    z-index: 15;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

.navigation-list {
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}

.navItem {
    flex: 1;
}

.navbar {
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 5rem;
    border: none;
    background-color: #468FCF;
    font-family: 'Staatliches', cursive;
    font-size: 20px;
}

.navbar:hover{
    background-color:#13334F;
    color: white;
}

/* main page global edit */

.main-page {
    display: grid;
    justify-content: center;
    align-items: center;
}

.main-section{
    display: grid;
    justify-content: center;
    align-items: center;
}

.main-section>h2 {
    font-size: 40px;
    color: #825C1F;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

img {
    border: solid 5px;
    border-radius: 50%;
    border-color: #825C1F;
    position: relative;
    z-index: 10;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#avatar {
    width: 12rem;
    height: auto;
}

.gradient {
    -webkit-mask: -webkit-gradient(
    linear,
    left 45%,
    left 0%,
    from(rgba(0, 0, 0, 1)),
    to(rgba(0, 0, 0, 0))
);
    position: absolute;
    top: 100%;
    left: 0%;
    min-height: 10rem;
    min-width: 100%;
    backdrop-filter: blur(20px);
    z-index: 5;
}

.personal {
    width: 40rem;
    font-size: 2rem;
    color:#825C1F;
    font-family: 'Montserrat', sans-serif;
    text-shadow: -1px -1px 0 rgba(1, 96, 116, 1),
    1px -1px 0 rgba(1, 96, 116, 1),
    -1px 1px 0 rgba(1, 96, 116, 1),
    1px 1px 0 rgba(1, 96, 116, 1),
    -1px 0 0 rgba(1, 96, 116, 1),
    1px 0 0 rgba(1, 96, 116, 1),
    0 -1px 0 rgba(1, 96, 116, 1),
    0 1px 0 rgba(1, 96, 116, 1);
}

.personal>h1 {
    font-size: 7rem;
    font-family: 'Staatliches', cursive;
    color: #825C1F;
    text-shadow: -2px -2px 0 rgba(1, 96, 116, 1),
    2px -2px 0 rgba(1, 96, 116, 1),
    -2px 2px 0 rgba(1, 96, 116, 1),
    2px 2px 0 rgba(1, 96, 116, 1),
    -3px 0 0 rgba(1, 96, 116, 1),
    3px 0 0 rgba(1, 96, 116, 1),
    0 -3px 0 rgba(1, 96, 116, 1),
    0 3px 0 rgba(1, 96, 116, 1);
}
h1 {
    position: relative;
  }
  
h1::before {
    /* Highlight color */
    background-color: #468FCF;
    opacity: 0.8;
    content: "";
    position: absolute;
    width: calc(100% + 10px);
    height: 90%;
    left: -3px;
    bottom: 0;
    z-index: -1;
    transform: rotate(-2deg);
}