@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div class="about home-item">
        <img class="avatar" src="/assets/my_avatar_image.webp" alt="avatar image"/>
        <h1 class="web-item-title">Full stack developer</h1>
        <p class="description">
            I am a recent graduate with a passion for programming. I have a strong theoretical foundation, but I am eager to gain practical experience. I am
            always looking for opportunities to learn and grow. I am still in the process of exploring different technologies and finding my strengths. I am a
            quick learner and I am always looking for new challenges. I am confident that I can make a significant contribution to your team, regardless of
            the technology I am working with.
        </p>
    </div>
    <div class="skills home-item">
        <p class="description">
           </p>
    </div>
    <div class="proyects home-item">

    </div>
</div>